#!/usr/bin/make -f

%:
	dh $@ --with python3 --buildsystem=pybuild

override_dh_auto_install:
	python3 -m pip install --root=$(CURDIR)/debian/cad-preprocess --prefix=/usr .

override_dh_auto_test:
	# Skip tests during package build
	true
